<div class="container">
  <div *ngIf="isLoading">{{ statusRequest }}</div>
  <swiper-container
    *ngIf="!isLoading"
    effect="coverflow"
    grab-cursor="true"
    centered-slides="true"
    slides-per-view="auto"
    coverflow-effect-rotate="50"
    coverflow-effect-stretch="0"
    coverflow-effect-depth="100"
    coverflow-effect-modifier="1"
    coverflow-effect-slide-shadows="true"
  >
    <swiper-slide *ngFor="let photo of photosArray">
      <img [src]="photo.url" />
    </swiper-slide>
  </swiper-container>
</div>
