<swiper-container loop="true" navigation="true">
  <swiper-slide>
    <img src="https://images.unsplash.com/photo-1500622944204-b135684e99fd?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bmF0dXJhbHxlbnwwfHwwfHx8MA%3D%3D">
  </swiper-slide>
  <swiper-slide>
    <img src="https://images.unsplash.com/reserve/bOvf94dPRxWu0u3QsPjF_tree.jpg?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bmF0dXJhbHxlbnwwfHwwfHx8MA%3D%3D">
  </swiper-slide>
  <swiper-slide>
    <img src="https://images.unsplash.com/photo-1543877087-ebf71fde2be1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fG5hdHVyYWx8ZW58MHx8MHx8fDA%3D">
  </swiper-slide>
  <swiper-slide>
    <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg">
  </swiper-slide>
  <swiper-slide>
    <img src="https://cdn.pixabay.com/photo/2016/11/29/04/19/ocean-1867285_640.jpg">
  </swiper-slide>
  <swiper-slide>
    <img src="https://img.freepik.com/free-photo/river-surrounded-by-forests-cloudy-sky-thuringia-germany_181624-30863.jpg?w=1380&t=st=1715150536~exp=1715151136~hmac=646dcdfcf449d44757c59b844374302d94d3620fa5e6bbd308ed6068d0c1e564">
  </swiper-slide>
</swiper-container>